.checkout-summary {
  padding: 20px;

  .summary {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;

    &__address-selector {
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 40px;
      }
    }
  }

  .order {
    h2 {
      margin-bottom: 40px;
    }
    &__summary {
      display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-gap: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      padding: 10px;
      background-color: grey;
      color: white;

      font-size: 20px;

      .count {
        font-weight: bolder;
      }

      .price {
        font-weight: bold;
      }
    }

    &__payment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .test-details span {
        color: white;
        font-size: 18px;
        padding: 10px;
        background-color: grey;
      }
    }
  }

  .user__addresss__stored {
    height: 380px;
    max-height: 380px;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 40px;
  }
}
